@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-cols-layout-3 {
        grid-template-columns: 232px 1fr 232px;
    }
    .grid-cols-layout-2-3 {
        grid-template-columns: 232px 1fr;
    }

    .grid-cols-layout-2 {
        grid-template-columns: 1fr 232px;
    }
    .h-screen-calc {
        height: calc(100vh - 200px);
    }
}

/* Header Classes */
.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}
.menu-dropdown:hover .menu-dropdown-title {
    color: #3276ea;
}

.homepage-video video {
    border-radius: 0 0 8px 8px;
}
